<div>
  <div class="m-portlet">
    <div *ngIf="load==true" id="cover"></div>
    <form class="m-form m-form--label-align-right" style="padding:12px;background-color:#f2f3f8">
      <div class="m-portlet__body" style="background-color:#ffffff;padding:12px;border:1px solid #000000">



        <div class="m-section">
          <div class="m-section__content">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" class="table table-striped">
                <thead>
                  <tr>
                    <th>Auditor Name</th>
                    <th>Profession Number</th>
                    <th>Created on Date</th>
                    <th>Last Updated Date</th>
                    <th>Info</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let relation of result">
                    <td>{{relation.auditorName}}</td>
                    <td>{{relation.professionNo}}</td>
                    <td>
                      {{relation.createdOnDate | date:'yyyy-MM-dd'}}
                    </td>
                    <td>{{relation.lastUpdatedDate | date:'yyyy-MM-dd'}}</td>
                    <td style="text-align:center"><img (click)="showauditormodel(relation.commercialAuditorID)" style="width:30px" src="../../assets/demo/demo2/media/img/Icons/Information.png" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--end::Section-->
      </div>
    </form>
    <!--end::Form-->
  </div>
      <!--end::Portlet-->
  </div>
<style>
  .fa {
    font-size: 1.2rem !important;
  }
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #ffffff !important;
    color: #094868 !important;
    font-size: 12px !important;
    position: absolute;
    padding: 2px 4px 2px 4px;
    margin-left: 15px !important;
    margin-top: 15px !important;
    white-space: nowrap;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
  }

  [data-title] {
    position: relative;
  }
</style>
