
<div class="m-subheader" appunwraptag="">
  <div class="m-portlet__head-caption">
    <div class="m-portlet__head-title">
      <span class="m-portlet__head-icon m--hide">
        <i class="la la-gear"></i>
      </span>
      <h3 class="m-subheader__title ">
        <button style="font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #016fa2;
        font-family: Avenir !important;
        margin-top: -2px;" class="btn btn-link" (click)="list()">
          Customers
        </button>
        <i style="margin-left:-12px" class="fa fa-angle-right"></i>
        Customer
      </h3>
      <div class="btn-group pull-right m-form__actions">
        <a style="margin: 10px 5px;" class="btn btn-accent" (click)="list()">
          Back
          &nbsp;
          <i class="fa fa-angle-double-left"></i>
        </a>
        <a *ngIf="mode == 'view'" style="margin: 10px 5px;" class="btn btn-accent" (click)="edit()">
          Edit
          &nbsp;
          <i class="fa fa-pencil-alt"></i>
        </a>
        <a *ngIf="mode == 'view' && (currentObj.status == 'Pending' || currentObj.status == 'Inactive')" style="margin: 10px 5px;" class="btn btn-accent" (click)="changeStatus()">
          Activate
          &nbsp;
          <i class="fa fa-check"></i>
        </a>
        <a *ngIf="mode == 'view' && currentObj.status == 'Active' " style="margin: 10px 5px;" class="btn btn-accent" (click)="changeStatus()">
          Deactivate
          &nbsp;
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading==true" id="cover"></div>

<div class="m-content">
  <div class="m-portlet  m-portlet--unair">
    <div class="m-portlet__body  m-portlet__body--no-padding">
      <div class="m-portlet__body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body col-12">
            <h5 class="m-subheader__title" style="text-transform:uppercase">
              Customer Information
            </h5>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Trading Name<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="type" [readonly]="readonly" [(ngModel)]="currentObj.tradingName" (keypress)="onKey($event)">
              </div>

              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Registration Name<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="registrationName" [readonly]="readonly" [(ngModel)]="currentObj.registrationName" (keypress)="onKey($event)">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Registration NO<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="registrationNumber" [readonly]="readonly" [(ngModel)]="currentObj.registrationNumber" (keypress)="onKey($event)">
              </div>

              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">VAT Number</label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="vATNumber" [readonly]="readonly" [(ngModel)]="currentObj.vatNumber">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Type Of Business<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <select class="form-control m-input" style=" border: 2px solid #ccc;"
                        name="typeOfBusiness"
                        [(ngModel)]="currentObj.typeOfBusiness">
                  <option *ngFor="let type of typeOfBusiness"
                          value="{{type.value}}" [disabled]="readonly"
                          [selected]="type.value == currentObj.typeOfBusiness">
                    {{type.text}}
                  </option>
                </select>
              </div>

              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Telephone Number<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="telephoneNumber" [readonly]="readonly" [(ngModel)]="currentObj.telephoneNumber" (keypress)="numberonKey($event)" minlength="10" maxlength="10">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Fax Number<span style="color:red"></span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="faxNumber" [readonly]="readonly" [(ngModel)]="currentObj.faxNumber">
              </div>

              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Billing Email<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="billingEmail" [readonly]="readonly" [(ngModel)]="currentObj.billingEmail">
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Billing Type<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc;" type="text" name="text" [readonly]="readonly" [(ngModel)]="currentObj.billingType" (keypress)="onKey($event)">
              </div>

              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Branch Location<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc; " type="text" name="branchLocation" [readonly]="readonly" [(ngModel)]="currentObj.branchLocation" (keypress)="onKey($event)">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Physical Address<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <textarea class="form-control m-input"
                          style=" border: 2px solid #ccc;" type="text"
                          name="physicalAddress" [readonly]="readonly"
                          [(ngModel)]="currentObj.physicalAddress"></textarea>
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify">
                Postal Address
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="postalAddress" [readonly]="readonly"
                       [(ngModel)]="currentObj.postalAddress">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label">Customer Owner IDNumber</label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="custOwnIDNumber" [readonly]="readonly"
                       [(ngModel)]="currentObj.custOwnIDNumber">
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">Web Address</label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="webAddress" [readonly]="readonly"
                       [(ngModel)]="currentObj.webAddress">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">Turn Over:</label>
              <div class="col-md-3" align="left">
                <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                  <input type="checkbox" [disabled]="readonly" name="turnover" [(ngModel)]="currentObj.turnover">
                  <span></span>
                </label>
              </div>
            </div>
            <div class="form-group m-form__group row" *ngIf="mode != 'add'">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">Key</label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="id" readonly [(ngModel)]="currentObj.id">
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">Customer Code:</label>
              <div class="col-md-3" align="right">
                <input type="text" class="form-control m-input"
                       style="border: 2px solid #ccc;" name="code" readonly
                       [(ngModel)]="currentObj.code" />
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">Business Description:</label>
              <div class="col-md-3" align="right">
                <textarea class="form-control m-input" style=" border: 2px solid #ccc"
                          type="text" name="businessDescription" [readonly]="readonly" [(ngModel)]="currentObj.businessDescription"></textarea>
              </div>
              <label for="example-text-input" class="col-2 col-form-label">Credit Bureau Information In terms of company activities:</label>
              <div class="col-md-3" align="right">
                <textarea type="text" class="form-control m-input"
                          style="border: 2px solid #ccc;" name="creditBureauInformation" [readonly]="readonly"
                          [(ngModel)]="currentObj.creditBureauInformation"></textarea>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:justify;">Enquiry Reason<span style="color:red">*</span></label>
              <div class="col-md-3" align="right">
                <select class="form-control m-input" style=" border: 2px solid #ccc;"
                        name="enquiryReason" [(ngModel)]="currentObj.enquiryReason">
                  <option *ngFor="let type of enquiryReasons"
                          value="{{type.value}}" [disabled]="readonly"
                          [selected]="type.value == currentObj.enquiryReason">

                    {{type.text}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="purposeA" [disabled]="readonly"
                           [(ngModel)]="purposeA">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    An assessment of the debtor’s book of a business or the tracing of debtors
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="purposeB" [disabled]="readonly"
                           [(ngModel)]="purposeB">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    Obtaining consumer information to distribute unclaimed funds, including pension funds and insurance claims
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="purposeC" [disabled]="readonly"
                           [(ngModel)]="purposeC">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    Tracing a consumer for the purpose of validating the consumer’s personal details
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="purposeD" [disabled]="readonly"
                           [(ngModel)]="purposeD">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    Fraud Detection and Fraud prevention services
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="purposeE" [disabled]="readonly"
                           [(ngModel)]="purposeE">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    Utilise consumer information for the purpose of profiling your company’s data
                  </span>
                </div>
              </div>
            </div>

            <!-- IsRestricted -->
            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="isRestricted" [disabled]="readonly"
                           [(ngModel)]="currentObj.isRestricted">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    IsRestricted
                  </span>
                </div>
              </div>
            </div>

            <!--Padmavati XDS customers-->
            <div class="form-group m-form__group row">
              <div class="input-group">
                <div class="input-group-append">
                  <label class="m-checkbox m-checkbox--single m-checkbox--state m-checkbox--state-primary">
                    <input type="checkbox" name="IsXDS" [(ngModel)]="currentObj.isXDS">
                    <span></span>
                  </label>
                  <span class="col-form-label" style="margin-top: -12px;">
                    XDS
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row" *ngIf="currentObj.isXDS">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                subscriberID :
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="subscriberID" [readonly]="readonly" [(ngModel)]="currentObj.subscriberId">
              </div>
            </div>



            <h5 class="m-subheader__title ">
              Account Department Information
            </h5>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                Contact Person:
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="accountDeptContactPerson" [readonly]="readonly"
                       [(ngModel)]="currentObj.accountDeptContactPerson">
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                TelePhone:
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="accountDeptTelephoneNumber" [readonly]="readonly"
                       [(ngModel)]="currentObj.accountDeptTelephoneNumber">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">Fax Number:</label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="accountDeptFaxNumber" [readonly]="readonly"
                       [(ngModel)]="currentObj.accountDeptFaxNumber">
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                Email:
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="accountDeptEmail" [readonly]="readonly"
                       [(ngModel)]="currentObj.accountDeptEmail">
              </div>
            </div>

            <h5 class="m-subheader__title ">
              Authorised Signatory Information
            </h5>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                ID Number
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="authIDNumber" [readonly]="readonly"
                       [(ngModel)]="currentObj.authIDNumber">
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                Position
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="authPosition" [readonly]="readonly"
                       [(ngModel)]="currentObj.authPosition">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                FirstName
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="authFirstName" [readonly]="readonly"
                       [(ngModel)]="currentObj.authFirstName">
              </div>
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                SurName
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="authSurName" [readonly]="readonly"
                       [(ngModel)]="currentObj.authSurName">
              </div>
            </div>
            <div class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label"
                     style=" text-align:justify;">
                Cell Number
                <span style="color:red">*</span>
              </label>
              <div class="col-md-3" align="right">
                <input class="form-control m-input" style=" border: 2px solid #ccc"
                       type="text" name="authCellNumber" [readonly]="readonly"
                       [(ngModel)]="currentObj.authCellNumber">
              </div>
            </div>

            <div *ngIf="mode != 'add'" class="form-group m-form__group row">
              <label for="example-text-input" class="col-2 col-form-label" style=" text-align:left;">File Upload</label>
              <div class="col-md-4">
                <input type="file" #file (change)="change(file.files)"
                       [disabled]="readonly" accept=".pdf" />
              </div>
            </div>



            <div class="table table-responsive" style="width:100%" *ngIf="mode != 'add'">

              <table class="table table-hover table-bordered" [mfData]="custObj.filenames"
                     #mfusers="mfDataTable" [mfRowsOnPage]="10" style="width:100%">
                <thead>
                  <tr>
                    <th>Sl</th>
                    <th>File Name</th>
                    <th>Action</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let file of  mfusers.data , let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{file.name}}</td>
                    <td>
                      <a href={{file.path}} (click)="Exportfile(file.path, file.name)"><i class="fa fa-download"></i></a>
                      &nbsp;&nbsp;
                      <button [disabled]="readonly" style="border:none" (click)="remove(file.path)">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="mode != 'view'" class="m-form__actions" style="text-align:center">
              <button type="button" class="btn btn-success" (click)="save()">Submit</button>
              <button data-toggle="modal" id="openModalButton" data-target="#myModal" [hidden]="true"></button>
              <button data-toggle="modal" id="nopermission" data-target="#per" [hidden]="true"></button>
              <button type="button" class="btn btn-success" (click)="list()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e)" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">{{errorMessageValue}}</div>
      <div class="modal-footer">
        <button style="width:150px" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<div id="per" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e)" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">You don't have permission to access.</div>
      <div class="modal-footer">
        <button style="width:150px" (click)="dash()" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


<style>
  .modal-footer {
    justify-content: center !important;
  }

  h5 {
    text-transform: uppercase;
    color: #0a4867;
    font-weight: bold;
  }

  #cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
</style>

