<div class="m-subheader" appunwraptag="">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title">Proforma Invoices</h3>
    </div>
    <div *ngIf="userper.addAction" class="btn-group pull-right">
      <a style="margin: 10px 5px;" class="btn btn-accent" (click)="proformainvoicedetailform()">
        Generate ProFormaInvoice
        &nbsp;
        <i class="fa fa-plus"></i>
      </a>
      <a style="margin: 10px 5px;" class="btn btn-accent" (click)="proformasendbulkemail()">
        Send Bulk Email
        &nbsp;
        <i class="fa fa-cloud-upload-alt"></i>
      </a>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet  m-portlet--unair">
    <div class="m-portlet__body  m-portlet__body--no-padding">
      <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
          <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-1 col-form-label"
                   style="font-weight:bold">Company</label>
            <div class="col-4">
              <input type="text" readonly="readonly"
                     class="form-control m-input border-dark"
                     name="customer.tradingName"
                     [(ngModel)]="customer.tradingName">
              <input type="hidden" id="customer" value="{{customer.id}}" />
            </div>
            <i class="fa fa-search" style="padding-top:1%"
               (click)="searchcustomer()"></i>
            <label for="example-text-input" class="col-1 col-form-label"
                   style="font-weight:bold">Status</label>
            <div class="col-4">
              <select class="form-control m-input border-dark" id="status">
                <option selected="selected" value="">Select</option>
                <option value="In Progress">In Progress</option>
                <option value="Invoice Generated">Invoice Generated</option>
                <option value="Cancelled">Cancelled</option>
              </select>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <label for="example-text-input" class="col-1 col-form-label"
                   style="font-weight:bold">From Date</label>
            <div class="col-4">
              <input class="form-control m-input border-dark"
                     name="fromDatestring" id="fromdate" type="date"
                     value="{{fromDatestring}}">
            </div>
            <i>&nbsp;&nbsp;&nbsp;&nbsp;</i>
            <label for="example-text-input" class="col-1 col-form-label"
                   style="font-weight:bold">To Date</label>
            <div class="col-4">
              <input class="form-control m-input border-dark"
                     name="toDatestring" id="todate"
                     type="date" value="{{toDatestring}}">
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-4">
            </div>
            <div class="col-4" style="text-align: center; margin-left: -33px;">
              <button type="button" class="btn btn-success pull-center"
                      (click)="rerender()">
                Submit
              </button>
            </div>
            <div class="col-4">
            </div>
          </div><br />
          <div class="m-form__section m-form__section--first">
            <table id="tableid" datatable [dtOptions]="dtOptions"
                   [dtTrigger]="dtTrigger" class="table table-striped"></table>
            <div class="form-group m-form__group row">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<button data-toggle="modal" id="nopermission" data-target="#per" [hidden]="true"></button>

<div id="per" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e)" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">You don't have permission to access.</div>
      <div class="modal-footer">
        <button style="width:150px" (click)="dash()" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<button data-toggle="modal" id="errormsg" data-target="#error" [hidden]="true"></button>

<div id="error" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e)" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">{{message}}</div>
      <div class="modal-footer">
        <button style="width:150px" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<style>
  .modal-footer {
    justify-content: center !important;
  }
</style>








