<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
	  <add name="ProdDBConnection" connectionString="Data Source=DESKTOP-53NVS74;Initial Catalog=IDAS_PROD;        User ID=sa;Password=dtcdata@123;MultipleActiveResultSets=True;Connection Timeout =1000;" providerName="System.Data.SqlClient" />
	  <add name="IDASDBConnection" connectionString="Data Source=DESKTOP-53NVS74;Initial Catalog=IDAS_ADMIN;     User ID=sa;Password=dtcdata@123;MultipleActiveResultSets=True;Connection Timeout =1000;" providerName="System.Data.SqlClient" />
    <!--<add name="ProdDBConnection" connectionString="Data Source=IDAS-DEVELOP;Initial Catalog=IDAS_PROD;        User ID=idas;Password=idas;MultipleActiveResultSets=True;Connection Timeout =1000;" providerName="System.Data.SqlClient" />
    <add name="IDASDBConnection" connectionString="Data Source=IDAS-DEVELOP;Initial Catalog=IDAS_ADMIN;     User ID=idas;Password=idas;MultipleActiveResultSets=True;Connection Timeout =1000;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="Path" value="C:\Applications\WebApplication\wwwroot\ExportExcel" />
    <add key="ElasticDBIP" value="http://192.168.8.56:9200/" />
    <add key="Process" value="ALL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>