<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto">

          <h3 class="m-subheader__title ">
            <button style="padding:0px;font-size:14px!important; text-transform:uppercase; width:110px !important; color: #016fa2 !important;font-weight: 600 !important;font-family: Avenir !important;" class="btn btn-link" (click)="list()"> Subscriptions</button>
            <i class="fa fa-angle-right"></i>
            Subscription
          </h3>
        </div>
        <div class="btn-group pull-right m-form__actions">
          <a style="margin: 10px 12px;font-size: 12px;border-radius: 1px;padding: 8px 18px 8px 18px;" class="btn btn-accent" (click)="list()">
            Back
            &nbsp;
            <i class="fa fa-angle-double-left"></i>
          </a>
        </div>
      </div>

      <div *ngIf="loading==true" id="cover"> </div>


      <div class="m-content">
        <div class="m-portlet">
          <div class="m-portlet__body">
            <div class="m-section">
              <form class="m-form m-form--fit m-form--label-align-right" style="padding-top:20px">
                <div class="m-portlet__body col-12">
                  <div class="form-group m-form__group row">

                    <div class="col-12">
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-form-label">Products <span style="color:red">*</span></label>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                          <select style="padding-top:6px" class="form-control" [disabled]="readonly" name="name" [(ngModel)]="prod.id" >
                            <option *ngFor="let order of products" value="{{order.id}}">{{order.name}}</option>
                            <option selected="selected"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-form-label">Start Date <span style="color:red">*</span></label>
                        <div *ngIf="mode == 'view'" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                          <input [readonly]="readonly" class="form-control m-input" type="text" [(ngModel)]="prod.startDate" name="startDate">
                        </div>
                        <div *ngIf="mode == 'add'" class="col-8">
                          <input class="form-control m-input" type="date" [(ngModel)]="prod.startDate" name="startDate">
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-form-label">Payment Type <span style="color:red">*</span></label>
                        <div *ngIf="prodname != 'Prepaid Subscription Points'" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                          <select style="padding-top:6px" [(ngModel)]="prod.billingType" name="billingType" class="form-control" [disabled]="readonly">
                            <option value="One Time Payment">One Time Payment</option>
                            <option value="Monthly">Monthly</option>
                          </select>
                        </div>
                        <div *ngIf="prodname == 'Prepaid Subscription Points'" class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                          <select style="padding-top:6px" [(ngModel)]="prod.billingType" name="billingType" class="form-control" [disabled]="readonly">
                            <option value="One Time Payment">One Time Payment</option>
                          
                          </select>
                        </div>
                      </div>
                      <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-form-label">Quantity <span style="color:red">*</span></label>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                          <input [readonly]="readonly" class="form-control m-input" type="text" name="quantity" [(ngModel)]="prod.quantity">
                        </div>
                      </div>
                      <div *ngIf="prodname != 'Prepaid Subscription Points'" class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 col-form-label">Duration <span style="color:red;font-size:1.0rem">*</span></label>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                          <input [readonly]="readonly" class="form-control m-input" type="text" name="duration" [(ngModel)]="prod.duration">
                        </div>
                      </div>
                      <div style="text-align:center">
                        <span style="color:red!important;font-size:12px!important">{{errormsg}}</span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="mode=='add'" class="form-group m-form__group row">
                    <div class="col-4">
                      <div class="input-group m-input-group">
                        <button class="btn btn-accent" (click)="submit()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  select.form-control:not([size]):not([multiple]) {
    height: 35px !important;
  }

  .m-form.m-form--fit .m-form__content, .m-form.m-form--fit .m-form__group, .m-form.m-form--fit .m-form__heading {
    padding-left: 0px !important; 
    padding-right: 0px !important;
  }
  #cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
  }


</style>
