
<div class="modal-content">

  <div class="modal-header" style=" background: linear-gradient(#103f56, #094868, #00527c, #066f9e) !important;">
    <h5 class="modal-title" style="color:#ffffff!important">Message</h5>
    <button type="button" class="close" data-dismiss="modal" style="color:#ffffff!important" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="200">
      <form class="m-form m-form--label-align-right" style="background-color:#f2f3f8!important;padding:12px;">
        <div class="m-portlet__body" style="background-color:#ffffff;padding:12px;border:1px solid #b7b5b5">
          <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row" *ngFor="let msg of messages">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 name">
              {{msg.message}}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<style>
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 0.9rem;
    font-weight: normal;
    vertical-align: middle;
  }

  .m-form .m-form__group {
    padding-top: 0px;
    border-bottom: #b7b5b5 1px solid;
  }

  h6 {
    font-size: 14px;
    font-weight: bold;
  }
</style>
