
<div class="m-grid m-grid--hor m-grid--root m-page">
  <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin justify-content-center" id="m_login">
  
    <div *ngIf="loading==true" id="cover"></div>

    <div class="m-stack m-stack--hor m-stack--desktop">
      <div class="m-stack__item m-stack__item--fluid">
        <div class="m-login__wrapper">
          <div class="m-login__logo">
            <a>
              <img id="forgotpass-img" width="95" height="80"  src="../../assets/demo/demo2/media/img/Icons/forgot-removebg-preview.png" />
              <!--<img id="forgotpass-img" style="width:15%" src="../../assets/demo/demo2/media/img/logo/Landing-Page-Logo.svg" />-->
            </a>
          </div>
          <div class="m-login__forget-password">
            <div class="m-login__head" style="text-align:center">
              <h3 class="m-login__title">Forgotten Password ?</h3>
              <div class="m-login__desc">Enter your email to reset your password:</div>
            </div>
            <form align="center" class="m-login__form m-form" action="">
              <div align="center" class="form-group m-form__group row">
                <div align="center" class="form-group m-form__group col-lg-4 col-md-4 col-sm-4"></div>
                <div align="center" class="form-group m-form__group col-lg-4 col-md-4 col-sm-6">
                  <input class="form-control m-input" type="text" style="border-color: #bbbbbb !important;margin-top: -26px;" [(ngModel)]="_forgetRequest.userName" name="userName" placeholder="Enter Username" autocomplete="off">
                </div>
                <div align="center" class="form-group m-form__group col-lg-4 col-md-4 col-sm-4"></div>
              </div>
              <div style="text-align:center" *ngIf="!_forgetRespose.isSucsess">
                <span class="errorMessageValue">{{_forgetRespose.errorMessage}}</span>
              </div>


              <div align="center" class="m-login__form-action">
                <div align="left" class="col-lg-12 col-md-10 col-sm-10" id="pad-top">
                  <div class="row m-login__form-action">

                    <div class="col-lg-3 col-md-2 col-sm-6 hide"></div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="m-login__form-action">
                        <button [disabled]="keypress" class="btn btn-dark" style="width:100%"
                                (click)="code()">
                          OK
                        </button>
                        <button data-toggle="modal" id="openModalButton" data-target="#errormsg" [hidden]="true"></button>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="m-login__form-action">
                        <a [routerLink]="'/login'" style="width:100%" class="btn btn-dark1">Cancel</a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-6 hide"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--</div>-->
  </div>
</div>




<div id="errormsg" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e) !important;" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">{{this._forgetRespose.errorMessage}}</div>
      <div class="modal-footer">
        <button style="margin-left:0px !important" data-dismiss="modal" class="btn btn-accent" (click)="ok()">Ok</button>
      </div>
    </div>
  </div>
</div>

<style>
  #cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
  }
  .modal-footer {
    justify-content: center !important;
  }
  .btn-dark {
    color: #fff;
    background-color: #A11E21;
    border-color: #343a40;
    width: 174px !important;
  }

  .btn-dark1 {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    width: 174px !important;
  }

  input {
    padding: 10px;
    font-size: 1.0em;
    border-color: #bbbbbb !important;
  }

    input::placeholder {
      color: #000000;
    }

  .m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action {
    margin: 5px 0 5px 0;
    text-align: center;
  }

    .m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action .btn {
      display: inline-block;
      text-align: center;
      padding: 5px 0px 5px 0px;
    }

  @media (max-width: 1024px) {
    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      width: 174px !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 20% !important;
    }
  }

  @media (max-width: 992px) {
    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 165px;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 270px !important;
    }

    #forgotpass-img {
      width: 20% !important;
    }
  }

  @media (max-width: 990px) {
    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 225px;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 351px !important;
    }

    #forgotpass-img {
      width: 20% !important;
    }
  }

  @media (max-width: 850px) {
    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 145px;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 242px !important;
    }

    #forgotpass-img {
      width: 20% !important;
    }
  }

  @media (max-width: 768px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 117px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 30% !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 30px !important;
    }
  }

  @media (max-width: 764px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 117px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 30% !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      margin-left: 147px !important;
    }
  }

  @media (max-width: 640px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 0px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 30% !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }
  }

  @media (max-width: 580px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 0px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 35% !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
      margin-left: 2px !important;
    }
  }

  @media (max-width: 480px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 0px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 50 % !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }
  }

  @media (max-width: 375px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 0px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 50% !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }
  }

  @media (max-width: 320px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 0px;
      width: 174px !important;
    }

    #forgotpass-img {
      width: 50% !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }
  }
</style>
