
.disabled {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

 .fa-youtube-play:before {
  content: "\f16a";
}

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}


