<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto">
          <h3 class="m-subheader__title ">
            Reset Password
          </h3>
        </div>
      </div>



      <div class="m-content">
        <div class="m-portlet">
          <div class="m-portlet__body">
            <div class="m-section">
              <form class="m-login__form m-form" action="">
                <div class="row" style="padding-bottom: 15px;">
                  <div class="col-lg-4 col-md-3"></div>
                  <div class="form-group m-form__group col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control m-input" style="border-color: #bbbbbb !important;text-transform:uppercase;" type="password" [(ngModel)]="oldpassword" name="oldpassword" placeholder="old password" autocomplete="off">
                  </div>
                </div>
                <div class="row" style="padding-bottom: 15px;">
                  <div class="col-lg-4 col-md-3"></div>
                  <div class="form-group m-form__group col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control m-input" style="border-color: #bbbbbb !important;text-transform:uppercase;" type="password" [(ngModel)]="password" name="newpassword" placeholder="New Password" autocomplete="off">
                  </div>
                </div>
                <div class="row" style="padding-bottom: 15px;">
                  <div class="col-lg-4 col-md-3"></div>
                  <div class="form-group m-form__group col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control m-input" style="border-color: #bbbbbb !important;text-transform:uppercase;" type="password" [(ngModel)]="conformpassword" name="conformpassword" placeholder="Confirm New Password" autocomplete="off">
                  </div>
                </div>
                <div class="row" style="padding-bottom: 15px;" >
                  <div class="col-lg-4 col-md-3"></div>
                    <div class=" form-group m-form__group col-lg-4 col-md-6 col-sm-12 col-xs-12">
                      <div *ngIf="hasLowerCase === undefined || hasUpperCase === undefined || hasNumber === undefined || hasSpecialChars === undefined || passwordLength === undefined">         
                        <br><h5>Your Password must contain:</h5><br>
                        <div ><h5  class="m-widget24__title">1. At least 1x lowercase letter</h5></div>
                        <div ><h5 class="m-widget24__title">2. At least 1x capital(uppercase) letter</h5></div>
                        <div><h5 >3. At least 1x number</h5></div>
                        <div ><h5>4. At least 1x special character</h5></div>
                        <div><h5>5. Password length (8 or more) characters</h5></div><br>
                      </div>
                      <div *ngIf="hasLowerCase !== undefined || hasUpperCase !== undefined || hasNumber !== undefined || hasSpecialChars !== undefined || passwordLength !== undefined">         
                      <br><h5>Your Password must contain:</h5><br>
                      <div [ngStyle]="{'color': hasLowerCase == true ? 'green' : 'red' }"><h5  class="m-widget24__title">1. At least 1x lowercase letter</h5></div>
                      <div [ngStyle]="{'color': hasUpperCase == true ? 'green' : 'red' }"><h5 class="m-widget24__title">2. At least 1x capital(uppercase) letter</h5></div>
                      <div [ngStyle]="{'color': hasNumber == true ? 'green' : 'red' }"><h5 >3. At least 1x number</h5></div>
                      <div [ngStyle]="{'color': hasSpecialChars == true ? 'green' : 'red' }"><h5>4. At least 1x special character</h5></div>
                      <div [ngStyle]="{'color': passwordLength >= 8 ? 'green' : 'red' }"><h5>5. Password length (8 or more) characters</h5></div><br>
                    </div>
                  </div>        
                </div>
                <div align="center" class="m-login__form-action">
                  <div align="center" class="col-lg-12 col-md-12 col-sm-12" id="pad-top">
                    <div align="center" class="row m-login__form-action">

                      <div align="center" class="col-lg-3 col-md-2 col-sm-6 hide"></div>
                      <div align="center" class="col-lg-3 col-md-6 col-sm-6">
                        <div align="center" class="m-login__form-action">
                          <button class="btn btn-dark" (click)="resetPassword()">Reset Password</button>
                        </div>
                      </div>
                      <div align="center" class="col-lg-3 col-md-6 col-sm-6">
                        <div align="center" class="m-login__form-action">
                          <a [routerLink]="'/dashboard'" class="btn btn-dark1">Cancel</a>
                        </div>
                      </div>
                      <div align="center" class="col-lg-3 col-md-2 col-sm-6 hide"></div>

                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button data-toggle="modal" id="error" data-target="#errormsg" [hidden]="true"></button>

<div id="errormsg" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e) !important;" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">{{errormsg}}</div>
      <div class="modal-footer">
        <button *ngIf="loginsucc == false" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
        <button *ngIf="loginsucc == true" (click)="loginpath()" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<style>
  .btn-dark {
    color: #fff;
    background-color: #A11E21;
    border-color: #343a40;
    margin-left: -117px;
    width: 174px !important;
  }

  .btn-dark1 {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    width: 174px !important;
  }

  input {
    padding: 10px;
    font-size: 1.0em;
    border-color: #bbbbbb !important;
  }

  .modal-footer {
    justify-content: center !important;
  }

  input::placeholder {
    color: #000000;
  }

  @media (max-width: 1024px) {

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      width: 174px !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }
  }

  @media (max-width: 992px) {
    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-bottom: 5px;
      width: 174px !important;
    }

    .btn-dark1 {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40;
      width: 174px !important;
    }
  }

  @media (max-width: 768px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin-left: 80px;
      width: 174px !important;
    }
  }

  @media (max-width: 640px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin: 5px;
      width: 174px !important;
    }
  }

  @media (max-width: 580px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin: 5px;
      width: 174px !important;
    }
  }

  @media (max-width: 480px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin: 5px;
      width: 174px !important;
    }
  }

  @media (max-width: 375px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin: 5px;
      width: 174px !important;
    }
  }

  @media (max-width: 320px) {
    .hide {
      display: none;
    }

    .btn-dark {
      color: #fff;
      background-color: #A11E21;
      border-color: #343a40;
      margin: 5px;
      width: 174px !important;
    }
  }
</style>

