<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

  <div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div *ngIf="loading==true" id="cover"></div>


    <div *ngIf="loading == false" id="content" class="m-content">
      <div class="m-subheader " style="padding-top:12px !important">
        <form (keyup.enter)="GlobalSearch()">
          <div id="global_search4" class="input-group" style="width:50%">
            <input type="text" style="border-color: #bbbbbb !important;text-transform:uppercase" class="form-control" placeholder="GLOBAL SEARCH..." [(ngModel)]="globalSearch" name="globalSearch">
            <button (click)="GlobalSearch()" style="margin:0px!important;color:#000000;padding:3px">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title ">
              <button style="font-size:14px!important;text-transform:uppercase; width:78px !important; padding:0px!important; color: #016fa2 !important;font-weight: 600 !important;font-family: Avenir !important;" class="btn btn-link" (click)="tracing()"> Tracing</button>
              <i style=" padding: 6px 5px 0px 5px !important;" class="fa fa-angle-right"></i>
              <button style="font-size:14px!important;text-transform:uppercase; width:219px !important;padding:0px!important; color: #016fa2 !important;font-weight: 600 !important;font-family: Avenir !important;" class="btn btn-link" (click)="commerciallist()">Commercial Search Results</button>
              <i style=" padding: 6px 5px 0px 5px !important;" class="fa fa-angle-right"></i>

              Commercial Information

            </h3>
          </div>

          <div class="m-portlet__head-tools">
            <ul class="nav nav-pills nav-pills--brand m-nav-pills--align-right m-nav-pills--btn-pill m-nav-pills--btn-sm" role="tablist">
              <li class="nav-item m-tabs__item">
                <p style="color:#000000!important;margin:0px!important">Time Taken: {{timeTaken}} seconds</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="m-content">
        <div class="m-portlet">
          <div class="m-portlet__body">
            <h5><span style="color:#2b2c3a">INFORMATION OF: </span><span style="color:#A11E21;font-size:14px"> {{fullName}} [{{comId}}]</span></h5>
            <div style="height:20px"></div>

            <ngb-tabset type="nav nav-tabs">


              <ngb-tab *ngIf="isTimelinepresent">
                <ng-template ngbTabTitle> Timeline &nbsp;</ng-template>
                <ng-template ngbTabContent>
                  <div>
                    <timeline [contacts]="response.timelines"></timeline>
                  </div>
                </ng-template>
              </ngb-tab>



              <ngb-tab *ngIf="profilPresent">
                <ng-template ngbTabTitle> Profile &nbsp;</ng-template>
                <ng-template ngbTabContent>
                  <!-- download button -->
                   <!-- <button type="submit" class="btn m-btn--md btn-dark pull-right" style="text-transform:uppercase;width: 100% !important;height: 94% !important;font-family: Avenir !important;font-size:14px" (click)="  <button type="submit" class="btn m-btn--md btn-dark pull-right" style="text-transform:uppercase;width: 14% !important;height: 13% !important;font-family: Avenir !important;font-size:12px" (click)="downloadReport()">Export To pdf</button>">Extract PDF</button> -->
                   <button type="submit" class="btn m-btn--md btn-dark pull-right" style="text-transform:uppercase;width: 14% !important;height: 13% !important;font-family: Avenir !important;font-size:12px" (click)="downloadpdf()">Export To pdf</button>
                   <br><br><br>
                   <form class="m-form m-form--label-align-right" id="Commercialdetail" style="padding:20px;background-color:#f2f3f8">
                     <div id="logoprint" style="display:none">
                       <!--<img src="../../assets/demo/demo2/media/img/logo/Web Application Logo.svg" class="img-fluid" alt="" width="160" height="80" style="max-width:95% !important;" />-->
                       <img src="{{Client_Logo}}" class="img-fluid" alt="" width="160" height="80" style="max-width:95% !important;" />

                     </div>
                    <div *ngIf="printprofile">
                      <div class="m-portlet__body" style="background-color:#ffffff;padding:12px;border:1px solid #000000">

                        <div><h6 style="color:#2b2c3a">COMPANY NAME: {{fullName}}</h6></div>
                        <div class="row" style="height:6px; width:100%; margin:0 !important; background-color:#066f9e"></div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Registration Number:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.registrationNo}}
                          </div>
                          <div *ngIf="response.registrationNoOld" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Registration Number Old Version:
                          </div>
                          <div *ngIf="response.registrationNoOld" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.registrationNoOld}}
                          </div>
                        </div>

                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Registration Date:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.registrationDate  |date:'yyyy-MM-dd'}}
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Business Start Date:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.businessStartDate |date:'yyyy-MM-dd'}}
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Financial Year End (Month):
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.financialYearEnd}}
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Financial Effective Date:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.financialEffectiveDate |date:'yyyy-MM-dd'}}
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Business Website:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.bussWebsite}}
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            SIC Code:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{ response.sICCode}}
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Business Description:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.businessDesc}}
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Status Code of Company:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.commercialStatusCode}}
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Type Code of Company:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.commercialTypeCode}}
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Commercial VAT Number:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.vATNo}}
                          </div>
                        </div>
                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Business E-Mail Address:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.bussEmail}}
                          </div>
                          <div *ngIf="response.previousBusinessname" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Previous Commercial Business Name:
                          </div>
                          <div *ngIf="response.previousBusinessname" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{ response.previousBusinessname}}
                          </div>
                        </div>

                      </div>



                      <div class="row" style="height:12px;width:100%; margin:0 !important; background-color:#f2f3f8"></div>

                      <div class="m-portlet__body" style="background-color:#ffffff;padding:12px;border:1px solid #000000">

                        <!-- Updated Information-->
                        <div><h6 style="color:#2b2c3a">LAST UPDATED</h6></div>
                        <div class="row" style="height:6px; width:100%; margin:0 !important; background-color:#A11E21"></div>

                        <div class="form-group m-form__group row">
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Created On Date:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{response.createdOnDate |date:'yyyy-MM-dd'}}
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 name">
                            Last Updated Date:
                          </div>
                          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 value">
                            {{ response.lastUpdatedDate |date:'yyyy-MM-dd'}}
                          </div>
                        </div>
                      </div>
                      </div>

                      <div id="DetailsList" style="display:none">
                        <div *ngIf="addresspresent" class="form-group m-form__group row">
                          <div class="col-12">
                            <div class="m-portlet__head">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text" style="text-transform:uppercase">
                                    Commercial Address
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped" style="color:#ffffff">
                                <thead style="color:#ffffff">
                                  <tr>
                                    <th class="tablevalue">Type</th>
                                    <th class="tablevalue">Address</th>
                                    <th class="tablevalue">Last Updated Date</th>
                                    <th class="tablevalue">Created On Date</th>
                                    <th class="tablevalue">Province</th>
                                  </tr>
                                </thead>
                                <tbody style="color:#2b2c3a">
                                  <tr *ngFor="let address of response.addresses">
                                    <td *ngIf="address.addressTypeInd == 'Residential'" data-title="Residential Address"><div style="display:none">{{address.addressTypeInd}}</div><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Home-Address.png" /></td>
                                    <td *ngIf="address.addressTypeInd == 'Postal'" data-title="Postal Address"><div style="display:none">{{address.addressTypeInd}}</div><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Postal-Address.png" /></td>
                                    <td *ngIf="address.addressTypeInd == 'Business'" data-title="Business Address"><div style="display:none">{{address.addressTypeInd}}</div><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Work-Address.png" /></td>
                                    <td *ngIf="address.addressTypeInd == null" data-title="UnKnown">{{null}}</td>
                                    <td><button type="button" class="btn btn-link" style="padding:0px" (click)="showModal(address.fullAddress)">{{address.fullAddress}}</button></td>
                                    <td type="date">{{ address.lastUpdatedDate |date:'yyyy-MM-dd'}}</td>
                                    <td type="date">{{ address.createdOnDate | date:'yyyy-MM-dd'}}</td>
                                    <td>{{address.province}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="directorPresent" class="form-group m-form__group row">
                          <div class="col-12">
                            <div class="m-portlet__head">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text" style="text-transform:uppercase">
                                    Commercial Director
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped" style="color:#ffffff">
                                <thead style="color:#ffffff">
                                  <tr>
                                    <!--<th class="tablevalue">Gender</th>-->
                                    <th class="fulladdress">ID Number</th>
                                    <th class="fulladdress">Full Name</th>
                                    <th class="tablevalue">Status</th>
                                    <th class="tablevalue">Appointment Date</th>
                                    <th class="tablevalue">Createdon Date</th>
                                  </tr>
                                </thead>
                                <tbody style="color:#2b2c3a">
                                  <tr *ngFor="let directorship of response.directorShips">
                                    <td class="fulladdress"><button class="btn btn-link" style="padding:0px;word-break: break-all;white-space: normal" (click)="searchprofile(directorship.idNumber)">{{directorship.idNumber}}</button></td>
                                    <td class="fulladdress">{{directorship.fullName}}</td>
                                    <td class="tablename">{{directorship.directorStatusCode}}</td>
                                    <td class="tablename">{{ directorship.appointmentDate | date:'yyyy-MM-dd'}}</td>
                                    <td class="tablename">{{directorship.createdOnDate | date:'yyyy-MM-dd'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="judgePresent" class="form-group m-form__group row">
                          <div class="col-12">
                            <div class="m-portlet__head">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text" style="text-transform:uppercase">
                                    Commercial Judgment
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped" style="color:#ffffff">
                                <thead style="color:#ffffff">
                                  <tr>
                                    <th class="tablevalue">CaseNumber</th>
                                    <th class="tablevalue"> Case Filing Date</th>
                                    <!--<th class="tablevalue">Property Type</th>-->
                                    <th class="tablevalue"> Case Type</th>
                                    <th class="tablevalue"> Case Reason</th>
                                    <th class="tablevalue">Plaintiff Name</th>
                                    <th class="tablevalue">Created On Date</th>
                                  </tr>
                                </thead>
                                <tbody style="color:#2b2c3a">
                                  <tr *ngFor="let result of response.commercialJudgements">
                                    <td class="tablename"><button type="button" class="btn btn-link" style="padding:0px" (click)="showdetail(result.commercialJudgmentID)">ia{{result.caseNumber}}</button></td>
                                    <td class="tablename">{{result.caseFilingDate | date:'yyyy-MM-dd'}}</td>

                                    <!--<td class="tablename">{{result.propertytype}}</td>-->
                                    as


                                    <td class="tablename">{{result.caseType}}</td>
                                    <td class="tablename">{{result.caseReason}}</td>
                                    <td class="tablename">{{result.plaintiffName}}</td>
                                    <td class="tablename">{{result.createdOnDate| date:'yyyy-MM-dd'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="contactpresent" class="form-group m-form__group row">
                          <div class="col-12">
                            <div class="m-portlet__head">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text" style="text-transform:uppercase">
                                    Commecial Telephone
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped" style="color:#ffffff">
                                <thead style="color:#ffffff">
                                  <tr>
                                    <th>Telephone Type Indicator</th>
                                    <th>Telephone Code</th>
                                    <th>Telephone Number</th>
                                    <th>Last Updated Date</th>
                                    <th>Date</th>
                                  </tr>
                                </thead>
                                <tbody style="color:#2b2c3a">
                                  <tr *ngFor="let contact of response.contacts">
                                    <td *ngIf="contact.type=='Home'"><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Telephone.png"><div style="display:none">{{contact.type}}</div></td>
                                    <td *ngIf="contact.type=='Work'"><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Work-Address.png"><div style="display:none">{{contact.type}}</div></td>
                                    <td *ngIf="contact.type=='Cell'"><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Mobile.png" /><div style="display:none">{{contact.type}}</div></td>
                                    <td *ngIf="contact.type=='Email'"><img style="width:35px" src="../../assets/demo/demo2/media/img/Icons/Email.png" /><div style="display:none">{{contact.type}}</div></td>
                                    <td *ngIf="contact.type== null">{{null}}<div style="display:none">{{contact.type}}</div></td>
                                    <td>{{ contact.telephoneCode }}</td>
                                    <td>{{ contact.telephoneNo }}</td>
                                    <td>{{ contact.lastUpdatedDate | date:'dd-MM-yyyy'}}</td>
                                    <td>{{ contact.createdonDate | date:'dd-MM-yyyy'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="auditorPresene" class="form-group m-form__group row">
                          <div class="col-12">
                            <div class="m-portlet__head">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text" style="text-transform:uppercase">
                                    Commecial Auditors
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped" style="color:#ffffff">
                                <thead style="color:#ffffff">
                                  <tr>
                                    <th>Auditor Name</th>
                                    <th>Profession Number</th>
                                    <th>Created on Date</th>
                                    <th>Last Updated Date</th>
                                  </tr>
                                </thead>
                                <tbody style="color:#2b2c3a">
                                  <tr *ngFor="let relation of response.commercialAuditors">
                                    <td>{{relation.auditorName}}</td>
                                    <td>{{relation.professionNo}}</td>
                                    <td>
                                      {{relation.createdOnDate | date:'yyyy-MM-dd'}}
                                    </td>
                                    <!--<td><i class="fa fa-info-circle" (click)="showauditormodel(relation.commercialAuditorID)"></i></td>-->
                                    <td>{{relation.lastUpdatedDate | date:'yyyy-MM-dd'}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="propertyPresent" class="form-group m-form__group row">
                          <div class="col-12">
                            <div class="m-portlet__head">
                              <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                  <h3 class="m-portlet__head-text" style="text-transform:uppercase">
                                    Commecial Propery Owners
                                  </h3>
                                </div>
                              </div>
                            </div>
                            <div class="table-responsive">
                              <table class="table table-striped" style="color:#ffffff">
                                <thead style="color:#ffffff">
                                  <tr>
                                    <th class="tablevalue">Transaction Type</th>
                                    <th class="tablevalue">Date of Purchase / Sold</th>
                                    <th class="tablevalue">Current Owner</th>
                                    <th class="tablevalue">Address</th>
                                    <th class="tablevalue">Township</th>
                                    <!--<th class="tablevalue">Province</th>-->
                                  </tr>
                                </thead>
                                <tbody style="color:#2b2c3a">
                                  <tr *ngFor="let property of response.propertyOwners">
                                    <td><button type="button" style="padding:0px" class="btn btn-link" (click)="showModal(property.propertyDeedId)">{{property.type}}</button></td>

                                    <td>{{ property.datePurchase |date:'yyyy-MM-dd'}}</td>
                                    <!--<button class="btn btn-link" (click)="modalproperty(result.id)">{{result.property}}</button>-->
                                    as
                                    <td class="tablevalue" *ngIf="property.isCurrentOwner == true">TRUE</td>
                                    <td class="tablevalue" *ngIf="property.isCurrentOwner == false">FALSE</td>
                                    td
                                    <td class="tablevalue" *ngIf="property.isCurrentOwner == null">null</td>
                                    <td>
                                      {{property.fullAddress}}
                                    </td>
                                    <td>
                                      {{property.town}}
                                    </td>
                                    >

                                    <!--<td>{{property.province}}</td>-->
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                  </form>
                  <div class="form-group m-form__group row">
                  </div>
                  <div class="form-group m-form__group row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-5 col-md-8 col-sm-8 col-xs-8"></div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
                      <!-- <button type="submit" class="btn m-btn--md btn-dark pull-right" style="text-transform:uppercase;width: 100% !important;height: 94% !important;font-family: Avenir !important;font-size:14px" (click)="downloadpdf()">Download</button> -->
                    </div>
                  </div>


                </ng-template>
              </ngb-tab>

              <ngb-tab *ngIf="contactpresent">
                <ng-template ngbTabTitle>Contacts   &nbsp;<span *ngIf="contactpresent" style="font-size:1.0rem" class="m-badge m-badge--accent">{{response.contacts?.length}}</span></ng-template>
                <ng-template ngbTabContent>
                  <div>

                    <div class="m-portlet">

                      <form class="m-form m-form--label-align-right" style="padding:20px;background-color:#f2f3f8">
                        <div class="m-portlet__body" style="background-color:#ffffff;padding:20px;border:1px solid #000000">

                          <div class="m-section">
                            <div class="m-section__content">
                              <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                  <thead style="color:#ffffff">
                                    <tr>
                                      <th>Type</th>
                                      <th class="fulladdress">Contact</th>
                                      <th>People Linked</th>
                                      <th>Created On Date</th>
                                      <th>Last Updated Date</th>
                                      <th>Info</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let list of response.contacts">
                                      <td *ngIf="list.type == 'Business Telephone Number'" data-title="Business Telephone Number"><img style="width:30px" src="../../assets/demo/demo2/media/img/Icons/Occupation.png" /></td>
                                      <td *ngIf="list.type == 'Home'" data-title="Home Number"><img style="width:30px" src="../../assets/demo/demo2/media/img/Icons/Telephone.png" /></td>
                                      <td *ngIf="list.type == 'Work'" data-title="Work Number"> <img style="width:30px" src="../../assets/demo/demo2/media/img/Icons/Work-Address.png" /></td>
                                      <td *ngIf="list.type == 'null'" data-title="UnKnown">{{null}}</td>
                                      <td class="fulladdress">
                                        <button type="button" class="btn btn-link" style="word-break: break-all;white-space: normal" (click)="showModalContact(list.telephoneNo)">
                                          {{list.telephoneNo}}
                                        </button>
                                      </td>
                                      <td>+/- {{list.peopleLinked}}</td>
                                      <td>{{list.createdonDate | date:'yyyy-MM-dd'}}</td>
                                      <td>{{list.lastUpdatedDate |date:'yyyy-MM-dd'}}</td>
                                      <td data-title="Info"><img style="width:30px" (click)="contactmodal(list.id)" src="../../assets/demo/demo2/media/img/Icons/Information.png" /></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <!--end::Section-->
                        </div>
                      </form>
                      <!--end::Form-->
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>


              <ngb-tab *ngIf="addresspresent">
                <ng-template ngbTabTitle>Addresses   &nbsp;<span *ngIf="addresspresent" style="font-size:1.0rem" class="m-badge m-badge--accent">{{response.addresses?.length}}</span></ng-template>
                <ng-template ngbTabContent>

                  <div>
                    <addresslist [addresslist]="response.addresses" pagename="company"></addresslist>
                  </div>
                </ng-template>
              </ngb-tab>


              <ngb-tab *ngIf="directorPresent">
                <ng-template ngbTabTitle>Directors   &nbsp;<span *ngIf="directorPresent" style="font-size:1.0rem" class="m-badge m-badge--accent">{{response.directorShips?.length}}</span></ng-template>
                <ng-template ngbTabContent>

                  <div>
                    <directorshiplist [directorship]="response.directorShips" pagename="company"></directorshiplist>
                  </div>
                </ng-template>
              </ngb-tab>


              <ngb-tab *ngIf="propertyPresent">
                <ng-template ngbTabTitle>Property Owners   &nbsp;<span *ngIf="propertyPresent" style="font-size:1.0rem" class="m-badge m-badge--accent">{{response.propertyOwners?.length}}</span></ng-template>
                <ng-template ngbTabContent>
                  <div>
                    <propertyownershipdetialsresults [property]="response.propertyOwners" pagename="company"></propertyownershipdetialsresults>
                  </div>
                </ng-template>
              </ngb-tab>

              <ngb-tab *ngIf="judgePresent">
                <ng-template ngbTabTitle> Commercial Judgment   &nbsp;<span *ngIf="judgePresent" style="font-size:1.0rem" class="m-badge m-badge--accent">{{response.commercialJudgements?.length}}</span></ng-template>
                <ng-template ngbTabContent>
                  <div>
                    <consumerjudgment [commercialJudgement]="response.commercialJudgements" pagename="company"></consumerjudgment>
                  </div>
                </ng-template>
              </ngb-tab>

              <ngb-tab *ngIf="auditorPresene">
                <ng-template ngbTabTitle> Commercial Auditors   &nbsp;<span *ngIf="auditorPresene" style="font-size:1.0rem" class="m-badge m-badge--accent">{{response.commercialAuditors?.length}}</span></ng-template>
                <ng-template ngbTabContent>
                  <div>
                    <commercialAuditor [Auditors]="response.commercialAuditors"></commercialAuditor>
                  </div>
                </ng-template>
              </ngb-tab>

            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button data-toggle="modal" id="nodata" data-target="#data" [hidden]="true"></button>

<div id="data" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="background: linear-gradient(#103f56, #094868, #00527c, #066f9e) !important;" class="modal-header">
        <h4 style="color:#ffffff" class="modal-title">IDAS says:</h4>
      </div>
      <div class="modal-body">No Data available.</div>
      <div class="modal-footer">
        <button (click)="commerciallist()" type="button" class="btn btn-accent" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


<style>
  #cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
  }

  .fa {
    font-size: 1.2rem !important;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    font-size: 0.9rem;
    font-weight: normal;
    vertical-align: middle;
  }

  h6 {
    font-size: 14px;
    /*padding-left: 25px;*/
    font-weight: bold;
  }

  .nav.nav-pills .nav-link, .nav.nav-tabs .nav-link {
    color: #ffffff !important;
    background-color: #2b2c3a !important;
    margin-right: -4px !important;
  }

  .m-badge.m-badge--accent {
    background-color: #A11E21;
    color: #fff;
  }

  .btn-dark {
    color: #fff;
    background-color: #A11E21;
    border-color: #343a40;
  }

  input {
    padding: 10px;
    font-size: 12px !important;
    border-color: #bbbbbb !important;
    width: 80%;
  }

    input::placeholder {
      color: #A11E21;
      font-size: 12px !important;
    }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
  }

  [data-title]:after {
    content: attr(data-title);
    background-color: #ffffff !important;
    color: #094868 !important;
    font-size: 12px !important;
    position: absolute;
    padding: 2px 4px 2px 4px;
    margin-left: 15px !important;
    margin-top: 15px !important;
    white-space: nowrap;
    /*box-shadow: 1px 1px 3px #222222;*/
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
  }

  [data-title] {
    position: relative;
  }

  .modal-footer {
    justify-content: center !important;
  }

  @media (max-width: 1200px) {
    #global_search4 {
      width: 70% !important;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 760px) {
    #global_search4 {
      width: 90% !important;
      margin-bottom: 20px;
    }
  }
</style>
